header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px; /* Add padding for spacing */
  background: linear-gradient(135deg, #2a2a2a, #1e1e1e); /* Gradient background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  margin: 0; /* Remove any default margins */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.container a {
  color: rgba(50, 205, 50, 0.8); /* Ensure links are visible */
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container a:hover {
  background-color: var(--button-hover-bg); /* Light green background on hover */
  color: rgba(50, 205, 50, 0.8); /* Vibrant green text on hover */
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  color: var(--primary);
  font-size: 2.5em; /* Adjust font size as needed */
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px; /* Add gap between nav links */
}

.nav-link .material-icons {
  font-size: 32px; /* Increase the font size */
  color: var(--primary);
}

.nav-link:hover .material-icons {
  color: rgba(50, 205, 50, 0.8);
}
.nav-link .profile-photo {
  width: 32px; /* Same size as the icons */
  height: 32px; /* Same size as the icons */
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
   /* Add margin to create gap */
}

.profile-icon {
  font-size: 32px;
  color: var(--primary);
  cursor: pointer;
  
}

.profile-icon:hover {
  color: rgba(50, 205, 50, 0.8);
}




