.search-results-container {
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: var(--secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family);
  }
  
  .recipes-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .recipe-item {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .recipe-item img {
    width: 100%;
    border-radius: var(--border-radius);
  }
  
  .recipe-item h4 {
    margin-top: 10px;
    font-size: 1.2em;
    color: var(--primary);
  }
  
  .back-button-container {
    position: absolute;
    top: 20px;
    left: 20px;
  }